<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="ISO-8859-1">
    <title> profile management module</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

</head>
<body>

<div class="container my-5">

    <!-- create navigation bar ( header) -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" th:href="@{/}">Profile Management Module</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li sec:authorize="isAuthenticated()"><a th:href="@{/home}">Dashboard</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <br>
    <br>
    <br>

    <div class="container text-center">
        <h1>Welcome Mr. <span th:text="${data.name}"> Name </span> to Spring's Secured World!! </h1>

    </div>
    <br>

    <div class="card">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Edit Info</th>
                <th scope="col">Details info</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="data : ${data}">
                <td><span th:text="${data.id}"> id </span></td>
                <td><span th:text="${data.name}"> Name </span></td>
                <td><span th:text="${data.email}"> Email </span></td>
                <td>
                    <!-- th:href="@{/students/edit/{id}(id=${student.id})}"-->
                    <a class="btn btn-sm btn-primary" th:href="@{/update/{id} (id=${data.id})}"> <i
                            class="far fa-edit"></i> Edit</a>
                    <a class="btn btn-sm btn-danger" th:href="@{/delete/{id} (id=${data.id})}"><i
                            class="fas fa-trash-alt"></i> Delete</a>
                </td>
                <td><a class="btn btn-sm btn-info" th:href="@{/details}"><i class="fas fa-info-circle"></i> Details</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="card" th:if="${details} == 'details'">

        <div class="shadow-lg p-3 mb-5 bg-white rounded">

            <div class="text-center">
                <br>
                <h2> Your Details Information </h2>
            </div>

            <div>
                <h4> ID : <span th:text="${data.id}"> id </span></h4>
                <h4> Name : <span th:text="${data.name}"> Name </span></h4>
                <h4> User Name : <span th:text="${data.username}"> UserName </span></h4>
                <h4> Email : <span th:text="${data.email}"> Email </span></h4>
                <h4> Phone Number : <span th:text="${data.phone}"> Phone </span></h4>
                <h4> Password : <span th:text="${data.password}"> {Password} </span></h4>
                <br>
                <br>

                <a class="btn btn-sm btn-info" th:href="@{/hide}"><i class="fas fa-info-circle"></i> Hide Details</a>

            </div>

        </div>


    </div>

</div>
</body>
</html>
