<!DOCTYPE html>
<html lang="en">
<!--
  Author: Mostafijur Rahman
  Date: 11/11/2020
  Time: 11:54 AM
-->
<head>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>Successfully Updated</title>
</head>
<body>

<div class="buymain" >
    <br>
    <h1  class = "sign" align="center"> Successfully Updated!! </h1>
    <br> <br>
    <h2 align="center">Back to? <a href="/home"> Dashboard</a></h2>

</div>


</body>
</html>